<!doctype html>
{% extends 'base/base.html' %}
{% load static %}


    {% block content %}
    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                         <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'search_product' %}">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="search" name="search" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </aside>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Category <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown">
                                    {% for category in categories %}
                                        <p><a href="{% url 'by_product_category' category.slug %}">{{ category.name }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">
                            {% for product in products %}
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{{ product.image.url  }}" alt="#" class="img-fluid">
                                        <h3> <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a> </h3>
                                        <p>{{ product.price }}$</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <nav class="product-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
                                    </li>

                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number}}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- product list part end-->
{% endblock %}
