<!doctype html>
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <!--================Checkout Area =================-->
      <section class="checkout_area section_padding">
        <div class="container">
          <div class="billing_details">
            <div class="row">
              <div class="col-lg-8">
                <h3>Платежные реквизиты</h3>
                <form class="row contact_form" action="{% url 'checkout' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                    <div class="col-md-6 form-group p_star">
                        {{form.first_name}}
                        <span class="placeholder" data-placeholder="Имя"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.last_name}}
                        <span class="placeholder" data-placeholder="Фамилия"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.phone_number}}
                        <span class="placeholder" data-placeholder="Номер телефона"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.email}}
                        <span class="placeholder" data-placeholder="Емайл адресс"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.address}}
                        <span class="placeholder" data-placeholder="Адрес"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.city}}
                        <span class="placeholder" data-placeholder="Город"></span>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        {{form.zipcode}}
                        <span class="placeholder" data-placeholder="ZipCode"></span>
                    </div>
                        <p><button type="submit" class="btn_3">Оплатить</button></p>
                </form>
              </div>



              <div class="col-lg-4">
                <div class="order_box">
                  <h2>Ваш заказ</h2>
                  <table class="list" style="border-collapse: separate; border-spacing: 0 10px; width: 100%">
                    <tr>
                      <th>Продукт</th>
                      <th>Количество</th>
                      <th>Цена</th>
                    </tr>
                    {% for cart_item in cart_items %}
                    <tr>
                            <td>{{ cart_item.product.name|truncatewords:2}}</td>
                            <td>{{ cart_item.quantity}}</td>
                            <td>{{ cart_item.total_price}}</td>
                    </tr>
                    {% endfor %}
                  </table>


                  <ul class="list list_2">
                    <li>
                      <a href="#">Total
                        <span>${{ total }}</span>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
{% endblock %}
  <!--================End Checkout Area =================-->
